################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShahJe.Blazor.NavigationTab/bin/Debug
/ShahJe.Blazor.NavigationTab/.vs/ShahJe.Blazor.NavigationTab/v16
/ShahJe.Blazor.NavigationTab/obj
/ShahJe.Blazor.NavigationTab/bin/Release
/ShahJe.Blazor.NavigationTab.Sample/bin
/ShahJe.Blazor.NavigationTab.Sample/obj
